.home-content {
    padding: 20px;
    height: calc(100dvh - 60px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content__info {
        display: flex;
        max-width: max-content;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        background: #212830;
        border: 1px solid #3D444D;
        border-radius: 6px;
        padding: 7px 14px;

        .info-item {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            list-style: none;

            .item__icon {
                width: 24px!important;
                height: 24px!important;
            }

            .item__amount {
                font-size: 16px;
                font-weight: 900;
                color: #F0F6FC;
            }
        }

        .info-item:nth-child(1) {
            border-right: 1px solid #3D444D;
            padding-right: 20px;
        }

        .info-item:nth-child(2) {
            border-right: 1px solid #3D444D;
            padding-right: 20px;
            border-left: 1px solid #3D444D;
            padding-left: 20px;
        }

        .info-item:nth-child(3) {
            border-left: 1px solid #3D444D;
            padding-left: 20px;
        }
    }
}


@media only screen and (max-width: 400px) {
    .home-content .content__info .info-item .item__amount {
        font-size: 12px;
    }
}
